@page
@model CW18.Areas.AdminArea.Pages.LoginAdminModel
<h1>ورورد ادمین</h1>
<form method="post">
    <div class="form-row">
        <div class="form-group p-3">
            <label asp-for="@Model.Login.Email"></label>
            <input class="form-control pt-1" asp-for="@Model.Login.Email">
        </div>

        <div class="form-group p-3">
            <label asp-for="@Model.Login.Password"></label>
            <input type="text" class="form-control pt-1" asp-for="@Model.Login.Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">ورود</button>
</form>