@page
@using CW18.Areas.User
@model CW18.Areas.User.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>پنل کاربران</p>
</div>
